# .prettierignore 文件配置
/dist
/.vscode
node_modules
package.json
package-lock.json

**/*.svg
.dockerignore
.DS_Store
.eslintignore
*.png
.editorconfig
Dockerfile*
.gitignore
.prettierignore
*.lock
yarn-error.log